<div class="container-fluid px-1">
    <div class="row text-center">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3 class="h3">
                VER CASOS DEL PEDIDO {{ orderId }}
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <label class="form-label">Seleccionar cantidad: </label>
            <select class="form-control-sm" #cantidad>
                <option [value]="item" *ngFor="let item of [5, 10, 15, 25, 50]">
                    {{ item }}
                </option>
            </select>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col">
            {{ ((caseDetail.length % cantidad.value)) / caseDetail.length }}
        </div>
    </div> -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Id Pedido</th>
                        <th>Tipo</th>
                        <th>Descripcion</th>
                        <th>Usuario registrador</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="!empty; else Vacio">
                        <tr *ngFor="let item of caseDetail |pagination:page:cantidad.value">
                            <td> {{ item.id_pedido }} </td>
                            <td> {{ item.detalle }} </td>
                            <td> {{ item.observacion }} </td>
                            <td> {{ item.usuario_registrado }} </td>
                        </tr>
                    </ng-container>
                    <ng-template #Vacio>
                        <tr>
                            <td colspan="4">
                                <h4 class="h4 text-center">
                                    NO EXISTEN CASOS!
                                </h4>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
            <!-- <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <button class="btn btn-sm btn-outline-info">anterior</button>
                    <ng-container *ngFor="let item of (caseDetail.length % cantidad.value)">
                        <button class="btn btn-sm btn-outline-info"> {{ item }} </button>
                    </ng-container>
                    <button class="btn btn-sm btn-outline-info">siguiente</button>
                </div>
            </div> -->
        </div>
    </div>
</div>