<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <form novalidate [formGroup]="assignDriverForm" (ngSubmit)="assingDriver($event)">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h3 class="h3">ASIGNAR MOTO</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="form-label" for="driverSelect">Seleccionar moto:</label>
                            <input *ngIf="loading; else noloading" class="form-control" type="text" placeholder="Buscar por nombre"
                                formControlName="driverName" [matAutocomplete]="auto">
                            <ng-template #noloading>
                                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                            </ng-template>
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                                <mat-option *ngFor="let option of driversFiltered |async" [value]="option">
                                    {{option.driver_name}}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <button class="btn btn-success btn-block" type="submit">ASIGNAR</button>
                        <button mat-dialog-close class="btn btn-danger btn-block" type="button">CERRAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>