<div class="animated fadeIn card px-4 pt-3">
    <div class="row m-auto">
        <h1 class="h1">Detalle del pedido</h1>
    </div>
    <hr>
    <div class="row m-auto">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Id del pedido:</label>
                        <a target="_blank" [href]="redirectJugno" class="form-control"> {{ orderInfo?.order_id }} </a>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Cliente:</label>
                        <input disabled="true" [value]="orderInfo?.user_name" class="form-control" type="text">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Celular del cliente:</label>
                        <input disabled="true" [value]="orderInfo?.phone_no" class="form-control" type="text">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Estado:</label>
                        <ng-container [ngSwitch]="orderInfo?.status">
                            <input *ngSwitchCase="2" value="Entregado" disabled="true" class="form-control" type="text">
                            <input *ngSwitchCase="1" value="Cancelado" disabled="true" class="form-control" type="text">
                            <input *ngSwitchCase="7" value="Despachado" disabled="true" class="form-control" type="text">
                            <input *ngSwitchCase="5" value="Devuelto" disabled="true" class="form-control" type="text">
                            <input *ngSwitchCase="4" value="Incumplido" disabled="true" class="form-control" type="text">
                            <input *ngSwitchCase="6" value="Confirmado" disabled="true" class="form-control" type="text">
                            <input *ngSwitchCase="0" value="Confirmando" disabled="true" class="form-control" type="text">
                            <input *ngSwitchDefault disabled="true" class="form-control" value="" type="text">
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Monto total:</label>
                        <input [value]="orderInfo?.amount |currency:'BOB'" disabled="true" class="form-control"
                            type="text">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Descuento:</label>
                        <input [value]="orderInfo?.discount |currency:'BOB'" disabled="true" class="form-control"
                            type="text">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Conductor:</label>
                        <input [value]="orderInfo?.driver_name" disabled="true" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Notas:</label>
                        <input [value]="orderInfo?.d_notes" disabled="true" class="form-control" type="text">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Distancia:</label>
                        <input [value]="orderInfo?.d_distance + ' KM'" disabled="true" class="form-control" type="text">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Metodo de pago:</label>
                        <ng-container [ngSwitch]="orderInfo?.payment_mode">
                            <input *ngSwitchCase="2" value="Efectivo" disabled="true" class="form-control" type="text">
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Direccion de entrega:</label>
                        <input disabled="true" [value]="orderInfo?.from_address" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="form-label">Detalles:</label>
                        <textarea [value]="orderInfo?.details" class="form-control" cols="1" rows="5"
                            disabled="true"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <button (click)="mapView()" class="btn btn-primary">Ver Mapa de entrega</button>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <button (click)="sendMessage('cliente')" class="btn btn-success mb-2">Whatsapp cliente</button>
                        <input [formControl]="textWhatsapp" class="form-control"
                            [class.is-invalid]="textWhatsapp.invalid && textWhatsapp.touched"
                            [class.is-success]="textWhatsapp.valid && textWhatsapp.touched" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>