<div class="container">
<form [formGroup]="caseForm" (ngSubmit)="sendCases($event)">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col p-0">
                    <mat-checkbox formControlName="pickOrder" [color]="colorChecked">Recoger Pedido</mat-checkbox>
                </div>
                <div class="col p-0">
                    <mat-checkbox formControlName="returnMoney" [color]="colorChecked">Devolver plata a moto</mat-checkbox>
                </div>
                <div class="col p-0">
                    <mat-checkbox formControlName="lockDriver" [color]="colorChecked">Bloquear Moto</mat-checkbox>
                </div>
            </div>
            <div class="row">
                <div class="col p-0">
                    <mat-checkbox formControlName="chargeCommission" [color]="colorChecked">Cobrar comision</mat-checkbox>
                </div>
                <div class="col p-0">
                    <mat-checkbox formControlName="refundUser" [color]="colorChecked">Reembolsar Usuario</mat-checkbox>
                </div>
                <div class="col p-0">
                    <mat-checkbox formControlName="lockUser" [color]="colorChecked">Bloquear Cliente</mat-checkbox>
                </div>
            </div>
            <div class="row">
                <div class="col p-0">
                    <mat-checkbox formControlName="reportLocal" [color]="colorChecked">Reportar Local</mat-checkbox>
                </div>
                <div class="col p-0">
                    <mat-checkbox formControlName="customerContact" [color]="colorChecked">Contacto cliente</mat-checkbox>
                </div>
                <div class="col p-0">
                    <mat-checkbox formControlName="localContact" [color]="colorChecked">Contacto Local</mat-checkbox>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <textarea formControlName="description" placeholder="Descripcion..." class="form-control" style="width: 100% !important;" rows="2"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-success btn-block">GUARDAR</button>
            <button type="button" mat-dialog-close class="btn btn-danger btn-block">CERRAR</button>
        </div>
    </div>
</form>
</div>