<div class="animated fadeIn card px-4 pt-3">
    <div class="row m-auto">
        <h1 class="h1">Detalle del pedido</h1>
    </div>
    <hr>
    <div class="row m-auto">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Id del pedido:</label>
                        <a target="_blank" [href]="redirectJugno" class="form-control"> {{ orderInfo?.order_id }} </a>
                        <!-- <input disabled="true" [value]="orderInfo?.order_id" class="form-control" type="text"> -->
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Cliente:</label>
                        <input disabled="true" [value]="orderInfo?.user_name" class="form-control" type="text">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Celular del cliente:</label>
                        <input disabled="true" [value]="orderInfo?.phone_no" class="form-control" type="text">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Estado:</label>
                        <ng-container [ngSwitch]="orderInfo?.delivery_status">
                            <input *ngSwitchCase="1" value="Despachado" disabled="true" class="form-control"
                                type="text">
                            <input *ngSwitchDefault disabled="true" class="form-control" value="" type="text">
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Comercio:</label>
                        <input [value]="orderInfo?.restaurant_name" disabled="true" class="form-control" type="text">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Telefono del comercio:</label>
                        <input [value]="orderInfo?.restaurant_phone_no" disabled="true" class="form-control"
                            type="text">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Telefono alterno:</label>
                        <input [value]="orderInfo?.calling_number" disabled="true" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Monto total:</label>
                        <input [value]="orderInfo?.order_amount |currency:'BOB'" disabled="true" class="form-control"
                            type="text">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Cargos de envio:</label>
                        <input [value]="orderInfo?.delivery_charges |currency:'BOB'" disabled="true"
                            class="form-control" type="text">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Descuento:</label>
                        <input [value]="orderInfo?.discount |currency:'BOB'" disabled="true" class="form-control"
                            type="text">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Conductor:</label>
                        <input [value]="orderInfo?.driver_name" disabled="true" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="row">                
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Notas:</label>
                        <input [value]="orderInfo?.delivery_note" disabled="true" class="form-control" type="text">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Distancia:</label>
                        <input [value]="orderInfo?.fare_breakdown?.total_distance + ' KM'" disabled="true"
                            class="form-control" type="text">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Metodo de pago:</label>
                        <ng-container [ngSwitch]="orderInfo?.payment_mode">
                            <input *ngSwitchCase="1" value="Efectivo" disabled="true" class="form-control" type="text">
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="">Direccion de entrega:</label>
                        <input disabled="true" [value]="orderInfo?.delivery_address" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <button (click)="mapView()" class="btn btn-primary">Ver Mapa de entrega</button>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <button (click)="sendMessage('cliente')" class="btn btn-success mb-2">Whatsapp cliente</button>
                        <input [formControl]="textWhatsapp" class="form-control" [class.is-invalid]="textWhatsapp.invalid && textWhatsapp.touched"
                        [class.is-success]="textWhatsapp.valid && textWhatsapp.touched"
                        type="text">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <button (click)="sendMessage('comercio')" class="btn btn-success mb-2">Whatsapp comercio</button>
                        <input [formControl]="textWhatsapp" class="form-control" [class.is-invalid]="textWhatsapp.invalid && textWhatsapp.touched"
                        [class.is-success]="textWhatsapp.valid && textWhatsapp.touched"
                         type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-auto">
        <div class="col">
            <table class="table table-responsive">
                <thead class="thead-dark">
                    <tr>
                        <th>No</th>
                        <th>Nombre</th>
                        <th>Guarniciones</th>
                        <th>Descripción</th>
                        <th>Categoria</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of orderInfo.order_items; let i = index">
                        <td> {{ i+1 }} </td>
                        <td> {{ item.item_name }} </td>
                        <td>
                            <ng-container *ngFor="let topping of item?.customize_item">
                                <strong>
                                    <p> {{ topping.customize_item_name }} :</p>
                                </strong>
                                <ng-container *ngFor="let option of topping?.customize_options">
                                    <p> {{ option.customize_option_name }} </p>
                                </ng-container>
                            </ng-container>
                        </td>
                        <td> {{ item.item_details }} </td>
                        <td> {{ item.category }} </td>
                        <td> {{ item.item_quantity }} </td>
                        <td> {{ item.price |currency:'BOB' }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>