<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button>
          <div class="text-value">{{ deliveryList.length === undefined ? deliveryList['stats'].total : 0 }}</div>
          <div>TOTAL DE PEDIDOS</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart" [datasets]="lineChart2Data" [labels]="lineChart2Labels"
            [options]="lineChart2Options" [colors]="lineChart2Colours" [legend]="lineChart2Legend"
            [chartType]="lineChart2Type"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">{{ deliveryList.length === undefined ? deliveryList['stats'].new : 0 }}</div>
          <div>PEDIDOS NUEVOS</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart" [datasets]="lineChart1Data" [labels]="lineChart1Labels"
            [options]="lineChart1Options" [colors]="lineChart1Colours" [legend]="lineChart1Legend"
            [chartType]="lineChart1Type"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value"> {{ deliveryList.length === undefined ? deliveryList['stats'].accepted : 0}} </div>
          <div>PEDIDOS ACEPTADOS</div>
        </div>
        <div class="chart-wrapper mt-3" style="height:70px;">
          <canvas baseChart class="chart" [datasets]="lineChart3Data" [labels]="lineChart3Labels"
            [options]="lineChart3Options" [colors]="lineChart3Colours" [legend]="lineChart3Legend"
            [chartType]="lineChart3Type"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value"> {{ deliveryList.length === undefined ? deliveryList['stats'].rejected : 0 }} </div>
          <div>PEDIDOS RECHAZADOS</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart" [datasets]="barChart1Data" [labels]="barChart1Labels"
            [options]="barChart1Options" [colors]="barChart1Colours" [legend]="barChart1Legend"
            [chartType]="barChart1Type"></canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value"> {{ deliveryList.length === undefined ? deliveryList['stats'].cancelled : 0 }} </div>
          <div>PEDIDOS CANCELADOS</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart" [datasets]="barChart1Data" [labels]="barChart1Labels"
            [options]="barChart1Options" [colors]="barChart1Colours" [legend]="barChart1Legend"
            [chartType]="barChart1Type"></canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value"> {{ deliveryList.length === undefined ? deliveryList['stats'].dispatch : 0 }} </div>
          <div>ENTREGA EN PROGRESO</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart" [datasets]="barChart1Data" [labels]="barChart1Labels"
            [options]="barChart1Options" [colors]="barChart1Colours" [legend]="barChart1Legend"
            [chartType]="barChart1Type"></canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-success">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value"> {{ deliveryList.length === undefined ? deliveryList['stats'].delivered : 0 }} </div>
          <div>PEDIDOS ENVIADOS</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart" [datasets]="barChart1Data" [labels]="barChart1Labels"
            [options]="barChart1Options" [colors]="barChart1Colours" [legend]="barChart1Legend"
            [chartType]="barChart1Type"></canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value"> {{ fulFillment }} % </div>
          <div>FUL FILLMENT</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart" [datasets]="barChart1Data" [labels]="barChart1Labels"
            [options]="barChart1Options" [colors]="barChart1Colours" [legend]="barChart1Legend"
            [chartType]="barChart1Type"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-4">
      <select class="form-control" #citySelected (change)="getOrderList($event.target['value'])">
        <option [value]="city.city_id" [selected]="i === 9" *ngFor="let city of cityList; let i = index"> {{
          city.city_name }} </option>
      </select>
    </div>
    <div class="col-lg-4">
      <input class="form-control" [(ngModel)]="startDate" type="date">
    </div>
    <div class="col-lg-4">
      <input class="form-control" [(ngModel)]="endDate" type="date">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-responsive table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Id Pedido</th>
            <th>Pedido</th>
            <th>Cliente</th>
            <th>Conductor</th>
            <th>Local</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of deliveryList['aaData'] | paginate: { itemsPerPage: 25, currentPage: p }">
            <td>
              {{ order[0] }}
            </td>
            <td>
              <h5 [innerHTML]="order[3]">
              </h5>
              <strong>
                <span class="h5" [innerHTML]="order[6]">
                </span>
              </strong> <br>
              <button (click)="openDialogOrderDetail(order[13].order_id, order[13].restaurant_id)" class="btn btn-primary">Detalle <i class="fa fa-eye"></i></button>
            </td>
            <td>
              <h4 [innerHTML]="order[1]"></h4>
              <button (click)="openDialogCustomer(order[13].user_id)" class="btn btn-primary">Detalle 
                <i class="fa fa-eye"></i>
              </button>
              <!-- <button class="btn btn-primary btn-sm">Nota</button> -->
              <!-- <button class="btn btn-success btn-sm">Mapa</button> -->
            </td>
            <td>
              <h4 [innerHTML]="order[9]"></h4>
              <button *ngIf="order[9] !== '-'" (click)="openDialogDriver(order[9])" class="btn btn-primary">Detalle 
                <i class="fa fa-eye"></i>
              </button>
              <!-- <button class="btn btn-primary btn-sm">Nota</button> -->
              <!-- <button class="btn btn-success btn-sm">Mapa</button> -->
            </td>
            <td>
              <h4 [innerHTML]="order[2]"></h4>
              <button (click)="openDialogCommerce(order[13].restaurant_id)" class="btn btn-primary">Detalle 
                <i class="fa fa-eye"></i>
              </button>
              <!-- <button class="btn btn-primary btn-sm">Nota</button> -->
              <!-- <button class="btn btn-success btn-sm">Mapa</button> -->
            </td>
            <td>
              <ng-container [ngSwitch]="order[13].status">
                <h4 *ngSwitchCase="2">
                  <span class="badge badge-success">ENTREGADO</span>
                </h4>
                <p> <strong>Fecha de orden:</strong>
                  <span [innerHTML]="order[7]"></span>
                </p>
                <p> <strong>Entregado en: </strong>
                  <span [innerHTML]="order[8]"></span>
                </p>
              </ng-container>
            </td>
            <td>
              <ng-container
                *ngIf="order[13].status === 2 || order[13].status === 7 || order[13].status === 3 || order[13].status === 9; else elseStatus">
                <button class="btn btn-outline-dark">CREAR CASO</button>
              </ng-container>
              <ng-template #elseStatus>
                <button class="btn btn-warning">Forzar Asignacion</button>
                <button class="btn btn-success">Forzar Entrega</button>
                <button class="btn btn-danger">Cancelar Pedido</button>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls [nextLabel]="nextLabel" [previousLabel]="previousLabel" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>