<div class="row">
    <div class="col">
        <div class="form-group">
            <form>
                <h3 class="h3">¿Deseas rechazar el pedido?</h3>
                <label class="form-label">Descripcion: </label>
                <input [formControl]="form" class="form-control mb-2" type="text">
                <p class="text-danger">
                    <small *ngIf="form.hasError('required') && form.dirty">El campo es requerido</small>
                </p>
                <button (click)="onClick()" class="btn btn-success btn-block">Aceptar</button>
                <button (click)="onNoClick()" class="btn btn-danger btn-block">Cerrar</button>
            </form>
        </div>
    </div>
</div>